@charset "UTF-8";

/*===== BASE =====*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
span {
    display: inline-block;
}

$pc: 1000px;
$sp: 768px;
$sp-s: 480px;
@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}
@mixin sp {
    @media screen and (max-width: ($sp)) {
      @content;
    }
}
@mixin sp-s {
    @media screen and (max-width: ($sp-s)) {
      @content;
    }
}


$base-blue: #2D6199;
$base-yellow: #FFF57F;

/*------------  common ------------*/
html,
body {
  width: 100%;
  min-width: 1020px;
	font-size: 16px;
	font-family: -apple-system, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "メイリオ", meiryo, sans-serif;
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
  @include sp {
    min-width: inherit;
    min-width: auto;
    overflow-x: hidden;
  }
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  @include sp {
    width: 95%;
  }
}

h3 {
  font-size: 30px;
  color: $base-blue;
  margin-bottom: 60px;
  text-align: center;
  span {
    font-size: 17px;
  }
}
h4{
  font-size: 28px;
}

a {text-decoration: none;}

.cf::after {
  content:" ";
  display:block;
  clear:both;
}

.sp-none {
  @include sp {
    display: none;
  }
}
/*------------ main ------------*/
.main-visual {
    /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 51.86%;
  background: url(img/main-visual.png) no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
  @include pc {
    width: 100%;
    height: 0;
  }
  p {
    position: absolute;
    color: #fff;
    font-size: 32px;
    top: 8%;
    left: 50%;
    line-height: 1.8;
    @include sp {
      font-size: 22px;
    }
    @include sp-s {
      font-size: 16px;
    }
  }
}

.logo {
  margin-bottom: 60px;
  text-align: center;
}

.about {
  margin-bottom: 80px;
  @include sp {
    margin-bottom: 0;
  }
  .about-title {
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1.4px;
    .about-title-b {
      color: #fff;
      background-color: $base-blue;
      width: 40%;
      padding: 25px 60px;
      margin: 0 auto;
      h1 {
        font-size: 26px;
        @include sp {
          font-size: 20px;
        }
        span {
          font-size: 36px;
          @include sp {
            font-size: 26px;
          }
        }
      }
    }
    .about-title-y {
      color: $base-blue;
      background-color: $base-yellow;
      width: 40%;
      padding: 25px 60px;
      margin: 0 auto 30px;
      h2 {
        font-size: 26px;
        @include sp {
          font-size: 20px;
        }
      }
    }
    .text-grey {
      color: #727171;
      font-size: 24px;
      margin-bottom: 90px;
    }
    .text-box {
      font-size: 18px;
      margin: 60px 0;
      line-height: 40px;
      @include sp {
        padding: 0 10px;
      }
    }
  }

  .about-box {
    display: flex;
    justify-content: space-around;
    @include  sp {
      flex-direction: column;
    }
    .about-box-item {
      width: 320px;
      background-color: $base-blue;
      position: relative;
      @include sp {
        width: 100%;
        padding: 0px 200%;
        margin: 0px -200% 80px;
      }
      .about-box-icon {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        border: 3px solid #fff;
        background-color: $base-blue;
        width: 90px;
        height: 90px;
        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
      h5 {
        padding-top: 50px;
        font-size: 36px;
        color: $base-yellow;
        text-align: center;
        line-height: 1.6;
        position: relative;
      }
      .ballon000 {
        background: url(img/ballon01.png) no-repeat top 45% left 10%;
        @include sp {
          background-position: top 45% left 24%;
        }
        @include sp-s {
          background-position: top 45% left 17%;
        }
      }
      p {
        text-align: center;
        padding: 20px 16px;
        color: #fff;
        line-height: 30px;
      }
    }
  }
}


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 0 120px;
  @include sp {
    margin-bottom: 80px;
  }
  li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
  li:first-child {
  position: relative;
  display: block;
  float: left;
  }
  img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
}

.member-sec {
  margin-bottom: 90px;
  .member-item {
    .member-contents {
      padding: 30px 10px;
      margin: 0 auto;
      color: #fff;
      box-sizing: border-box;
      .name {
        font-size: 23px;
        margin-bottom: 20px;
      }
      .position {
        li {
          margin: 10px 0;
        }
      }
      .profile {
        @include sp {
            clear: both;
        }
        .profile-title {
          margin: 20px 0;
        }
        p {
          line-height: 28px;
        }
      }
      @include sp {
        img {
          width: 40%;
          margin-bottom: 20px;
          min-width: 200px;
        }
      }
    }
    .member-left {
      img {
        float: left;
        margin-right: 60px;
        @include sp {
          margin-right: 30px;
        }
      }
    }
    .member-right {
      img {
        margin-left: 60px;
        float: right;
        @include sp {
          margin-left: 30px;
        }
      }
    }
  }
  .member-item:nth-child(even) {
    background-color: $base-blue;
  }
  .member-item:nth-child(odd) {
    background-color: #5C83AE;
  }
}

.qa-sec {
  margin-bottom: 90px;
  font-size: 18px;
  .accordion {
    width: 785px;
    margin: 0 auto;
    @include sp {
      width: 100%;
    }
    p.qa-num {
      float: left;
      background-color: $base-blue;
      color: #fff;
      width: 40px;
      height: 40px;
      margin-right: 20px;
      text-align: center;
      line-height: 40px;
    }
    p.qa-ques {
      display: inline-block;
      padding-top: 5px;
      @include sp {
        width: 70%;
      }
    }
    dt {
    cursor: pointer;
    border: solid 1px #ccc;
    padding: 40px 15px 40px 40px;
    .accordion_icon {
      position: relative;
      width: 30px;
      height: 30px;
      float: right;
      margin-right: 5px;
      transition: all .4s;
      box-sizing: border-box;
      span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      left: 6px;
      width: 50%;
      height: 2px;
      background-color: #898989;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      }
      span:nth-of-type(1) {
        top: 15px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }
      span:nth-of-type(2) {
        top: 15px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        }
      }
    }
    /*＋、－切り替え*/
    dt.active span:nth-of-type(1) {
      display:none;
    }
    dt.active span:nth-of-type(2) {
    top: 15px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    }
    dd{
      display: none;
      line-height: 140%;
      margin: 0;
      padding: 40px 20px 40px 40px;
      border-right: solid 1px rgb(8, 4, 4);
      border-left: solid 1px #ccc;
      p.qa-num {
        background-color: #C72B2B;
      }
      p.qa-answer {
        overflow: auto;
        line-height: 30px;
      }
    }
    dd, dt {
      @include sp {
        padding: 40px 15px;
      }
    }
    dd:last-child{
      border-bottom: solid 1px #ccc;
    }
    dt.over {
      background-color: rgb(238, 238, 238);
    }
  }
}

.benefits {
  margin-bottom: 90px;
  .bene-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .bene-card-item {
      width: 318px;
      background-color: #EDEDED;
      text-align: center;
      padding: 60px 27px 30px;
      box-sizing: border-box;
      margin-bottom: 17px;
      border: 1px solid #ccc;
      @include sp {
        width: 49%;
        padding-top: 30px;
      }
      h5 {
        font-size: 22px;
        margin: 25px 0;
      }
    }
  }
}

.recruit-sec {
  background-color: #CADCF1;
  padding-bottom: 60px;
  margin-bottom: 70px;
  h3 {
    padding-top: 50px;
  }
  h4 {
    font-size: 22px;
    text-align: center;
    color: $base-blue;
    padding: 55px 0 50px;
  }
  .ballon2 {
    width: 500px;
    margin: 0 auto 65px;
    background-color: #2B5D92;
    color: #fff;
    text-align: center;
    position: relative;
    @include sp {
      width: 90%;
    }
    span {
      position: absolute;
      width: 77px;
      height: 55px;
      right: 80px;
      background-image: url(img/arrow03.png);
      background-repeat: no-repeat;
      background-size: contain;  
    }
    p {
      font-size: 26px;
      padding: 40px 10px;
      @include sp-s {
        font-size: 20px;
      }
    }
  }
  .recruit-list {
    margin-bottom: 80px; 
    ul{
      li {
        width: 700px;
        margin: 0 auto;
        font-size: 26px;
        line-height: 40px;
        padding-left: 50px;
        background: url(img/check01.png) no-repeat;
        background-position: left center; 
        box-sizing: border-box;
        @include sp {
          width: 90%;
          margin-bottom: 10px;
          font-size: 24px;
          background-position: left top 8px;
        }
      }
    }
  }
}
.application {
  background-color: #fff;
  padding: 0 60px 20px;
  margin-bottom: 10px;
  @include sp {
    padding: 0 0 20px;
  }
}
.application, .company-list {
  dt, dd {
    border-top: 1px solid #ccc;
    padding: 30px 0;
    @include sp {
      width: 100%;
    }
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    line-height: 27px;
    @include sp {
      flex-direction: column;
    }
  }
  dt {
    width: 25%;
    display: flex;
    color: $base-blue;
    font-weight: bold;
    @include sp {
      display: block;
      text-align: center;
      background: #f4f4f4;
    }
    p {
      margin: auto 0;
      padding-left: 35px;
      box-sizing: border-box;
      @include sp {
        padding-left: 0;
      }
    }
  }
  dd {
    width: 75%;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    @include sp {
      padding-right: 30px;
      padding-left: 30px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 50%;
      @include sp {
        width: 100%;
      }
      }
    }
    p {
      margin-bottom: 25px;
    }
  }
}

.entry {
  .entry-flow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    @include sp {
      flex-wrap: wrap;
    }
    .entry-flow-item {
      background: #5D83AD;
      color: #fff;
      border-radius: 50%;
      width: 192px;
      height: 192px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      @include sp {
        width: 40%;
        padding: 5% 2%;
        margin: 40px 0;
      }
      @include sp-s {
        width: 40%;
        padding: 0 2%;
        margin: 40px 0;
      }
      .entry-title {
        font-size: 29px;
        @include sp-s {
          font-size: 20px;
        }
      }
      p {
        text-align: center;
        padding: 0 10px;
        @include sp-s {
          font-size: 15px;
        }
      }
    }
    .entry-arrow::after {
      content: "";
      position: absolute;
      top: 45%;
      right: -23%;
      background-image: url(img/arrow01.png);
      width: 11px;
      height: 23px;
      @include sp {
        right: -17%;
      }
      @include sp-s {
        right: -20%;
      }
    }
    .sp-arrow {
      display: none;
      @include sp {
        display: block;
        background: url(img/arrow02.jpg) no-repeat center;
        background-size: contain;
        width: 100%;
        height: 78px;
        margin: 0 auto;
      }
      @media screen and (max-width: 600px) {
        height: 60px;
      }
      @include sp-s {
        height: 50px;
      }
    }
  }
  .entry-btn {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    @include sp {
      width: 60%;
    }
    a {
      display: inline-block;
      color: #fff;
      width: 100%;
      background-color: $base-blue;
      font-size: 30px;
      padding: 20px 0;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
      @include sp {
        font-size: 22px;
      }
    }
    a:hover{
      background-color: #5D83AD;
    }
  }
}

.company-list {
  margin-bottom: 120px;
  dl {
    width: 785px;
    margin: 0 auto;
    @include sp {
      width: 100%;
    }
  }
  dt, dd {
    border-top: 1px solid #ccc;
  }
  dt:last-of-type, dd:last-of-type {
    border-bottom: 1px solid #ccc;
  }
}

.access-sec {
  .address {
    text-align: center;
    line-height: 36px;
    margin-bottom: 50px;
    .tel {
      a {
        color: #000;
      }
    }
  }
  a[href^="tel:"] { cursor: default; }
}

.map-sec {
  width: 100%;
  margin-bottom: 50px;
  iframe {
    width: 100%;
  }
}

footer {
  background-color: $base-blue;
  .copyright {
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 30px 0 15px;
    @include sp {
      padding: 45px 0 25px;;
    }
  }
  .wrapper{
    position: relative;
  }
  .pagetop {
    a {
      top: 0px;
      right: 60px;
      background-color: $base-blue;
      border-radius: 50%;
      padding: 17px 14px;
      color: #fff;
      text-align: center;
      position: absolute;
      border: 3px solid #fff;
      transform : translate(-50%,-50%);
      @include sp {
        right: 0;
      }
    }
  }
}