@charset "UTF-8";

/*===== BASE =====*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

span {
  display: inline-block;
}

.cf:after {
  content: " ";
  display: block;
  clear: both;
}

/*------------  common ------------*/

html,
body {
  width: 100%;
  min-width: 1020px;
  font-size: 16px;
  font-family: -apple-system, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "メイリオ", meiryo, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

h3 {
  font-size: 30px;
  color: #2D6199;
  margin-bottom: 60px;
}

h4 {
  font-size: 28px;
}

/*------------ main ------------*/

.main-visual {
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 51.86%;
  background: url(img/main-visual.png) no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
}

.main-visual p {
  position: absolute;
  color: #fff;
  font-size: 32px;
  top: 8%;
  left: 50%;
  line-height: 1.8;
}

.about {
  margin-bottom: 80px;
}

.about .about-title {
  text-align: center;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.about .about-title .logo {
  margin-bottom: 60px;
}

.about .about-title .about-title-b {
  color: #fff;
  background-color: #2D6199;
  width: 40%;
  padding: 25px 60px;
  margin: 0 auto;
}

.about .about-title .about-title-b h1 {
  font-size: 26px;
}

.about .about-title .about-title-b h1 span {
  font-size: 36px;
}

.about .about-title .about-title-y {
  color: #2D6199;
  background-color: #FFF57F;
  width: 40%;
  padding: 25px 60px;
  margin: 0 auto 30px;
}

.about .about-title .about-title-y h2 {
  font-size: 26px;
}

.about .about-title .text-grey {
  color: #727171;
  font-size: 24px;
  margin-bottom: 90px;
}

.about .about-title .text-box {
  font-size: 18px;
  margin: 60px 0;
  line-height: 40px;
}

.about .about-box {
  display: flex;
  justify-content: space-around;
}

.about .about-box .about-box-item {
  width: 320px;
  background-color: #2D6199;
  position: relative;
}

.about .about-box .about-box-item .about-box-icon {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #2D6199;
  width: 90px;
  height: 90px;
}

.about .about-box .about-box-item .about-box-icon img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.about .about-box .about-box-item h5 {
  padding-top: 50px;
  font-size: 36px;
  color: #FFF57F;
  text-align: center;
  line-height: 1.6;
}

.about .about-box .about-box-item .ballon {
  position: absolute;
  top: 50px;
  left: 20px;
}

.about .about-box .about-box-item p {
  text-align: center;
  padding: 20px 16px;
  color: #fff;
  line-height: 30px;
}

.slide-sec img {
  width: 100%;
  margin-bottom: 120px;
}

.member-sec h3 {
  text-align: center;
}

.member-sec h3 span {
  font-size: 17px;
}

.member-sec .member-item .member-contents {
  padding: 30px 10px;
  display: flex;
  width: 980px;
  margin: 0 auto;
  color: #fff;
  box-sizing: border-box;
}

.member-sec .member-item .member-contents .name {
  font-size: 23px;
  margin-bottom: 20px;
}

.member-sec .member-item .member-contents .position li {
  margin: 10px 0;
}

.member-sec .member-item .member-contents .profile .profile-title {
  margin: 20px 0;
}

.member-sec .member-item .member-contents .profile p {
  line-height: 28px;
}

.member-sec .member-item .member-left img {
  margin-right: 60px;
}

.member-sec .member-item .member-right {
  flex-direction: row-reverse;
}

.member-sec .member-item .member-right img {
  margin-left: 60px;
}

.member-sec .member-item:nth-child(even) {
  background-color: #2D6199;
}

.member-sec .member-item:nth-child(odd) {
  background-color: #5C83AE;
}

@media screen and (min-width: 1000px) {
  .main-visual {
    width: 100%;
    height: 0;
  }

  .slide-sec img {
    width: 100%;
  }
}