@charset "UTF-8";

/*===== BASE =====*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

span {
  display: inline-block;
}

/*------------  common ------------*/

html,
body {
  width: 100%;
  min-width: 1020px;
  font-size: 16px;
  font-family: -apple-system, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "メイリオ", meiryo, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

h3 {
  font-size: 30px;
  color: #2D6199;
  margin-bottom: 60px;
  text-align: center;
}

h3 span {
  font-size: 17px;
}

h4 {
  font-size: 28px;
}

a {
  text-decoration: none;
}

.cf::after {
  content: " ";
  display: block;
  clear: both;
}

/*------------ main ------------*/

.main-visual {
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 51.86%;
  background: url(img/main-visual.png) no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
}

.main-visual p {
  position: absolute;
  color: #fff;
  font-size: 32px;
  top: 8%;
  left: 50%;
  line-height: 1.8;
}

.logo {
  margin-bottom: 60px;
  text-align: center;
}

.about {
  margin-bottom: 80px;
}

.about .about-title {
  text-align: center;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.about .about-title .about-title-b {
  color: #fff;
  background-color: #2D6199;
  width: 40%;
  padding: 25px 60px;
  margin: 0 auto;
}

.about .about-title .about-title-b h1 {
  font-size: 26px;
}

.about .about-title .about-title-b h1 span {
  font-size: 36px;
}

.about .about-title .about-title-y {
  color: #2D6199;
  background-color: #FFF57F;
  width: 40%;
  padding: 25px 60px;
  margin: 0 auto 30px;
}

.about .about-title .about-title-y h2 {
  font-size: 26px;
}

.about .about-title .text-grey {
  color: #727171;
  font-size: 24px;
  margin-bottom: 90px;
}

.about .about-title .text-box {
  font-size: 18px;
  margin: 60px 0;
  line-height: 40px;
}

.about .about-box {
  display: flex;
  justify-content: space-around;
}

.about .about-box .about-box-item {
  width: 320px;
  background-color: #2D6199;
  position: relative;
}

.about .about-box .about-box-item .about-box-icon {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #2D6199;
  width: 90px;
  height: 90px;
}

.about .about-box .about-box-item .about-box-icon img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.about .about-box .about-box-item h5 {
  padding-top: 50px;
  font-size: 36px;
  color: #FFF57F;
  text-align: center;
  line-height: 1.6;
  position: relative;
}

.about .about-box .about-box-item .ballon000 {
  background: url(img/ballon01.png) no-repeat top 45% left 10%;
}

.about .about-box .about-box-item p {
  text-align: center;
  padding: 20px 16px;
  color: #fff;
  line-height: 30px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 0 120px;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.member-sec {
  margin-bottom: 90px;
}

.member-sec .member-item .member-contents {
  padding: 30px 10px;
  margin: 0 auto;
  color: #fff;
  box-sizing: border-box;
}

.member-sec .member-item .member-contents .name {
  font-size: 23px;
  margin-bottom: 20px;
}

.member-sec .member-item .member-contents .position li {
  margin: 10px 0;
}

.member-sec .member-item .member-contents .profile .profile-title {
  margin: 20px 0;
}

.member-sec .member-item .member-contents .profile p {
  line-height: 28px;
}

.member-sec .member-item .member-left img {
  float: left;
  margin-right: 60px;
}

.member-sec .member-item .member-right img {
  margin-left: 60px;
  float: right;
}

.member-sec .member-item:nth-child(even) {
  background-color: #2D6199;
}

.member-sec .member-item:nth-child(odd) {
  background-color: #5C83AE;
}

.qa-sec {
  margin-bottom: 90px;
  font-size: 18px;
}

.qa-sec .accordion {
  width: 785px;
  margin: 0 auto;
  /*＋、－切り替え*/
}

.qa-sec .accordion p.qa-num {
  float: left;
  background-color: #2D6199;
  color: #fff;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  line-height: 40px;
}

.qa-sec .accordion p.qa-ques {
  display: inline-block;
  padding-top: 5px;
}

.qa-sec .accordion dt {
  cursor: pointer;
  border: solid 1px #ccc;
  padding: 40px 15px 40px 40px;
}

.qa-sec .accordion dt .accordion_icon {
  position: relative;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 5px;
  transition: all .4s;
  box-sizing: border-box;
}

.qa-sec .accordion dt .accordion_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  left: 6px;
  width: 50%;
  height: 2px;
  background-color: #898989;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.qa-sec .accordion dt .accordion_icon span:nth-of-type(1) {
  top: 15px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.qa-sec .accordion dt .accordion_icon span:nth-of-type(2) {
  top: 15px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.qa-sec .accordion dt.active span:nth-of-type(1) {
  display: none;
}

.qa-sec .accordion dt.active span:nth-of-type(2) {
  top: 15px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.qa-sec .accordion dd {
  display: none;
  line-height: 140%;
  margin: 0;
  padding: 40px 20px 40px 40px;
  border-right: solid 1px #080404;
  border-left: solid 1px #ccc;
}

.qa-sec .accordion dd p.qa-num {
  background-color: #C72B2B;
}

.qa-sec .accordion dd p.qa-answer {
  overflow: auto;
  line-height: 30px;
}

.qa-sec .accordion dd:last-child {
  border-bottom: solid 1px #ccc;
}

.qa-sec .accordion dt.over {
  background-color: #eeeeee;
}

.benefits {
  margin-bottom: 90px;
}

.benefits .bene-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.benefits .bene-card .bene-card-item {
  width: 318px;
  background-color: #EDEDED;
  text-align: center;
  padding: 60px 27px 30px;
  box-sizing: border-box;
  margin-bottom: 17px;
  border: 1px solid #ccc;
}

.benefits .bene-card .bene-card-item h5 {
  font-size: 22px;
  margin: 25px 0;
}

.recruit-sec {
  background-color: #CADCF1;
  padding-bottom: 60px;
  margin-bottom: 70px;
}

.recruit-sec h3 {
  padding-top: 50px;
}

.recruit-sec h4 {
  font-size: 22px;
  text-align: center;
  color: #2D6199;
  padding: 55px 0 50px;
}

.recruit-sec .ballon2 {
  width: 500px;
  margin: 0 auto 65px;
  background-color: #2B5D92;
  color: #fff;
  text-align: center;
  position: relative;
}

.recruit-sec .ballon2 span {
  position: absolute;
  width: 77px;
  height: 55px;
  right: 80px;
  background-image: url(img/arrow03.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.recruit-sec .ballon2 p {
  font-size: 26px;
  padding: 40px 10px;
}

.recruit-sec .recruit-list {
  margin-bottom: 80px;
}

.recruit-sec .recruit-list ul li {
  width: 700px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 40px;
  padding-left: 50px;
  background: url(img/check01.png) no-repeat;
  background-position: left center;
  box-sizing: border-box;
}

.application {
  background-color: #fff;
  padding: 0 60px 20px;
  margin-bottom: 10px;
}

.application dt,
.application dd,
.company-list dt,
.company-list dd {
  border-top: 1px solid #ccc;
  padding: 30px 0;
}

.application dl,
.company-list dl {
  display: flex;
  flex-wrap: wrap;
  line-height: 27px;
}

.application dt,
.company-list dt {
  width: 25%;
  display: flex;
  color: #2D6199;
  font-weight: bold;
}

.application dt p,
.company-list dt p {
  margin: auto 0;
  padding-left: 35px;
  box-sizing: border-box;
}

.application dd,
.company-list dd {
  width: 75%;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.application dd ul,
.company-list dd ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.application dd ul li,
.company-list dd ul li {
  width: 50%;
}

.application dd p,
.company-list dd p {
  margin-bottom: 25px;
}

.entry .entry-flow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.entry .entry-flow .entry-flow-item {
  position: relative;
  background: #5D83AD;
  color: #fff;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry .entry-flow .entry-flow-item .entry-flow-text {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.entry .entry-flow .entry-flow-item .entry-title {
  font-size: 29px;
}

.entry .entry-flow .entry-flow-item p {
  text-align: center;
  padding: 0 10px;
}

.entry .entry-flow .entry-arrow::after {
  content: "";
  position: absolute;
  top: 45%;
  right: -23%;
  background-image: url(img/arrow01.png);
  width: 11px;
  height: 23px;
}

.entry .entry-flow .sp-arrow {
  display: none;
}

.entry .entry-btn {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.entry .entry-btn a {
  display: inline-block;
  color: #fff;
  width: 100%;
  background-color: #2D6199;
  font-size: 30px;
  padding: 20px 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.entry .entry-btn a:hover {
  background-color: #5D83AD;
}

.company-list {
  margin-bottom: 120px;
}

.company-list dl {
  width: 785px;
  margin: 0 auto;
}

.company-list dt,
.company-list dd {
  border-top: 1px solid #ccc;
}

.company-list dt:last-of-type,
.company-list dd:last-of-type {
  border-bottom: 1px solid #ccc;
}

.access-sec .address {
  text-align: center;
  line-height: 36px;
  margin-bottom: 50px;
}

.access-sec .address .tel a {
  color: #000;
}

.access-sec a[href^="tel:"] {
  cursor: default;
}

.map-sec {
  width: 100%;
  margin-bottom: 50px;
}

.map-sec iframe {
  width: 100%;
}

footer {
  background-color: #2D6199;
}

footer .copyright {
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 30px 0 15px;
}

footer .wrapper {
  position: relative;
}

footer .pagetop a {
  top: 0px;
  right: 60px;
  background-color: #2D6199;
  border-radius: 50%;
  padding: 17px 14px;
  color: #fff;
  text-align: center;
  position: absolute;
  border: 3px solid #fff;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  .main-visual {
    width: 100%;
    height: 0;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    min-width: inherit;
    min-width: auto;
    overflow-x: hidden;
  }

  .wrapper {
    width: 95%;
  }

  .sp-none {
    display: none;
  }

  .main-visual p {
    font-size: 22px;
  }

  .about {
    margin-bottom: 0;
  }

  .about .about-title .about-title-b h1 {
    font-size: 20px;
  }

  .about .about-title .about-title-b h1 span {
    font-size: 26px;
  }

  .about .about-title .about-title-y h2 {
    font-size: 20px;
  }

  .about .about-title .text-box {
    padding: 0 10px;
  }

  .about .about-box {
    flex-direction: column;
  }

  .about .about-box .about-box-item {
    width: 100%;
    padding: 0px 200%;
    margin: 0px -200% 80px;
  }

  .about .about-box .about-box-item .ballon000 {
    background-position: top 45% left 24%;
  }

  .rslides {
    margin-bottom: 80px;
  }

  .member-sec .member-item .member-contents .profile {
    clear: both;
  }

  .member-sec .member-item .member-contents img {
    width: 40%;
    margin-bottom: 20px;
    min-width: 200px;
  }

  .member-sec .member-item .member-left img {
    margin-right: 30px;
  }

  .member-sec .member-item .member-right img {
    margin-left: 30px;
  }

  .qa-sec .accordion {
    width: 100%;
  }

  .qa-sec .accordion p.qa-ques {
    width: 70%;
  }

  .qa-sec .accordion dd,
  .qa-sec .accordion dt {
    padding: 40px 15px;
  }

  .benefits .bene-card .bene-card-item {
    width: 49%;
    padding-top: 30px;
  }

  .recruit-sec .ballon2 {
    width: 90%;
  }

  .recruit-sec .recruit-list ul li {
    width: 90%;
    margin-bottom: 10px;
    font-size: 24px;
    background-position: left top 8px;
  }

  .application {
    padding: 0 0 20px;
  }

  .application dt,
  .application dd,
  .company-list dt,
  .company-list dd {
    width: 100%;
  }

  .application dl,
  .company-list dl {
    flex-direction: column;
  }

  .application dt,
  .company-list dt {
    display: block;
    text-align: center;
    background: #f4f4f4;
  }

  .application dt p,
  .company-list dt p {
    padding-left: 0;
  }

  .application dd,
  .company-list dd {
    padding-right: 30px;
    padding-left: 30px;
  }

  .application dd ul li,
  .company-list dd ul li {
    width: 100%;
  }

  .entry .entry-flow {
    flex-wrap: wrap;
  }

  .entry .entry-flow .entry-flow-item {
    width: 0;
    height: 0;
    padding: 22%;
    margin: 20px 0;
  }

  .entry .entry-flow .entry-flow-item p {
    font-size: 20px;
    padding-top: 10px;
  }

  .entry .entry-flow .entry-arrow::after {
    right: -17%;
  }

  .entry .entry-flow .sp-arrow {
    display: block;
    background: url(img/arrow02.jpg) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 78px;
    margin: 0 auto;
  }

  .entry .entry-btn {
    width: 60%;
  }

  .entry .entry-btn a {
    font-size: 22px;
  }

  .company-list dl {
    width: 100%;
  }

  footer .copyright {
    padding: 45px 0 25px;
  }

  footer .pagetop a {
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  .entry .entry-flow .entry-flow-item p {
    font-size: 18px;
    padding-top: 0;
  }

  .entry .entry-flow .sp-arrow {
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .main-visual p {
    font-size: 16px;
  }

  .about .about-box .about-box-item .ballon000 {
    background-position: top 45% left 17%;
  }

  .recruit-sec .ballon2 p {
    font-size: 20px;
  }

  .entry .entry-flow .entry-flow-item .entry-title {
    font-size: 20px;
  }

  .entry .entry-flow .entry-flow-item p {
    font-size: 15px;
  }

  .entry .entry-flow .entry-arrow::after {
    right: -20%;
  }

  .entry .entry-flow .sp-arrow {
    height: 50px;
  }
}